*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	color: #454749;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

mark {
	background: linear-gradient(280deg, #00796d 0%, #38c682 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
